<img src="img/Group 1.png">
<div class="top">
  
    <div>
      <div class="mvp">Создайте MVP своего продукта бесплатно</div>
      <button class="btnmvp">СОЗДАТЬ</button>
    </div>
    <div>
      <img src="img/image 1.png">
    </div>
  
</div>
  <div class="product">MVP (Minimal Viable Product, минимально жизнеспособный продукт) — тестовая версия товара, услуги
    или сервиса с минимальным набором функций. MVP создают для тестирования гипотез и проверки жизнеспособности
    задуманного продукта.</div>
<div class="row">
  <div>
    <div class="circle">1</div>
    <div class="text">ПРОДУМАЙТЕ <br> ФУНКЦИОНАЛ</div>
  </div>
  <div class="arrow">></div>
  <div>
    <div class="circle">2</div>
    <div class="text">ПРОПИШИТЕ <br>ТЕКСТ(КОНТЕНТ)</div>
  </div>
  <div class="arrow">></div>
  <div>
    <div class="circle">3</div>
    <div class="text">ВЫБЕРЕТЕ <br>РЕФЕРЕНСЫ</div>
  </div>
</div>
<h2 class="apply">Заполните заявку</h2>
<form action="/" method="POST">
  <label>Контактные данные</label>
  <div class="">
    <input name="name" class="inline input input-field" placeholder="Имя">
    <input name="companyName" class="input" placeholder="Название компании">
  </div>
  <div class="">
    <input name="phone" class="input" placeholder="Ваш телефон">
    <input name="email" class="input" placeholder="Ваш email">
  </div>
  <div>
    <label>Ваш проект</label>
  </div>
  <div>
    <input name="description" class="input" placeholder="Пожалуйста, максимально подробно опишите свою идею, проект">
  </div>
  <div>
    <button name="img" class="btnfile">ЗАГРУЗИТЬ ФАЙЛ</button>
    <input name="link" class="input" placeholder="Прикрепить ссылку">
  </div>
  <div>
    <button class="sendForm">ОТПРАВИТЬ ЗАЯВКУ</button>
    <div>Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь с политикой
      конфиденциальности</div>
  </div>
</form>
