<script defer src="/js/indexApply.js"></script>
<div class="main">
  <div class="top">
    <div id="top">
      <div class="mvp">Создайте<br> MVP своего продукта <br><span>бесплатно</span></div>
      <button class="btnmvp" ><a href='#apply'>СОЗДАТЬ</a></button>
    </div>
    <div>
      <img src="img/image 1.png">
    </div>
  </div>

  <div class="product">MVP (Minimal Viable Product, минимально жизнеспособный продукт) — тестовая <br> версия  товара,  услуги
    или  сервиса  с  минимальным  набором  функций. MVP  создают <br>для  тестирования  гипотез  и  проверки  жизнеспособности
    задуманного  продукта.</div>
  <div class="row">
    <div class="one">
      <div class="circle">1</div>
      <div class="text">ПРОДУМАЙТЕ <br> ФУНКЦИОНАЛ</div>
    </div>
    <div class="arrow"> > </div>
    <div class="one">
      <div class="circle">2</div>
      <div class="text">ПРОПИШИТЕ ТЕКСТ<br> (КОНТЕНТ)</div>
    </div>
    <div class="arrow"> > </div>
    <div class="one">
      <div class="circle">3</div>
      <div class="text">ВЫБЕРЕТЕ <br>РЕФЕРЕНСЫ</div>
    </div>
  </div>
  <h2 class="apply" id='apply'>Заполните заявку</h2>
  <form action="/" id="sendForm" method="POST">
    <label>Контактные данные</label>
    <div class="inputName">
      <input name="name" id="inputName" class="input" placeholder="Имя" required>
      <input name="companyName" id="inputCompany" class="input" placeholder="Название компании" required>
    </div>
    <div class="">
      <input name="phone" id="inputPhone" type="tel" class="input" placeholder="Ваш телефон" required>
      <input name="email" id="inputEmail" class="input" placeholder="Ваш email" required>
    </div>
    <div id="project">
      <label >Ваш проект</label>
    </div>
    <div>
      <input name="description" id="inputDecription" class="inputdecription" placeholder="Пожалуйста, максимально подробно опишите свою идею, проект">
    </div>
    <div id="link">
      <button name="img" id="inputImg" class="btnfile">ЗАГРУЗИТЬ ФАЙЛ</button>
      <input name="link" id="inputLink" class="link" placeholder="Прикрепить ссылку">
    </div>
    <div class="bottom">
      <button class="sendForm" type="submit">ОТПРАВИТЬ ЗАЯВКУ</button>
      <div class="bottomtext">Нажимая на кнопку, вы даете согласие на обработку <br>персональных данных и соглашаетесь с политикой
      <br>конфиденциальности</div>
    </div>
</div>
</form>


