<img src="img/Group 1.png">
<div>
  <div>
<div class="mvp">Создайте MVP своего продукта бесплатно</div>
<button class="btnmvp">Создать</button>

  </div>
<img src="img/image 1.png">

</div>
<div class="product">MVP (Minimal Viable Product, минимально жизнеспособный продукт) — тестовая версия товара, услуги или сервиса с минимальным набором функций. MVP создают для тестирования гипотез и проверки жизнеспособности задуманного продукта. </div>
<div>
  <div class="circle"></div>
  <div class="arrow">></div>
  <div class="circle"></div>
  <div class="arrow">></div>
  <div class="circle"></div>
</div>
<form>
  <input>
  <input>
  <input>
<input>
</form>
