<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  
    <!-- Compiled and minified CSS -->
    {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> --}}

    <!-- Compiled and minified JavaScript -->
    {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> --}}
</head>
<nav class="navbar">
  <div class="wrapper">
    <div class="elbrus"> E L B R <br> U S / <br> B O O T <br> C A M P </div>
    <div class="coding">E l b r u s <br>c o d i n g<br> b o o t c a m p</div>
  </div>
  {{#if admin}}
  <div class="login">
    <button><a id="logout" href="/admin/logout">Logout</a></button>
  </div>
  {{else}}
  <div class="login">
    <button id="log"><a  href="/admin/login">Login</a></button>
    <button id="sign"><a  href="/admin/signup">Signup</a></button>
  </div>
  {{/if}}
</nav>
<div id="body">

  {{{body}}}

</div>
<footer class="footer">
  <div> 2021 </div>
</footer>

</html>
