<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
</head>
<nav class="navbar">
  <div class="wrapper">
    <div class="elbrus"> E L B R <br> U S / <br> B O O T <br> C A M P </div>
    <div class="coding">E l b r u s <br>c o d i n g<br> b o o t c a m p</div>
  </div>
  {{#if admin}}
  <div class="login">
    <button><a id="logout" href="/admin/logout">Logout</a></button>
  </div>
  {{else}}
  <div class="login">
    <a href="/admin/login"><button id="log">Login</button></a>
    <a href="/admin/signup"><button id="sign">Signup</button></a>
  </div>
  {{/if}}
</nav>
<div id="body">

  {{{body}}}

</div>
<footer class="footer">
  <div> 2021 </div>
</footer>

</html>
