<div class='loginPlease'>

<h1>Пожалуйста, войдите в систему</h1>
<form method="post" action="/admin/login">
   <label for="login-input" class="loginInput">Введите Ваше имя администратора:</label>
   <input id="login-input" name="name" type="text" class='input' placeholder="Имя">

   <label for="pass-input" class="passInput">Введите Ваш пароль:</label>
   <input id="pass-input" name="password" type="text" class='input' placeholder="Пароль">

   <input type="submit" class='barSearch' value="ВОЙТИ">
</form>
</div>


<h1>{{loginMessage}}</h1>

