<script defer src="/js/registration.js"></script>


<a href='/' type='submit' >На главную</a>
<form method="post" id="login-form"action="/admin/login">
<span class='error-message'></span>
   <label for="email" class="loginInput">Введите Ваш email администратора:</label>
   <input id="email" name="email" type="text" placeholder="email">

   <label for="password" class="passInput">Введите Ваш пароль:</label>
   <input id="password" name="password" type="text" placeholder="Пароль">

   <input type="submit" value="Войти">
</form>
</div>

<h1>{{loginMessage}}</h1>

