<div class='header'>
  <h1>{{admin}}</h1>
  <a href='/admin/logout'>Выйти</a>
</div>

<div class='requests'>
  <label for="sarch-input" class="sarchInput">Заявки</label>
  <input id="search-input" name="sarch" type="text" placeholder="🔎 поиск">
  <table>
    <tr>
     <th>Дата</th>
     <th>Имя</th>
     <th>Компания</th>
     <th>Телефон</th>
     <th>Почта</th>
     <th>Проект</th>
    </tr>
  </table>
</div>
