<script defer src="/js/registration.js"></script>

<form method="POST" id="signupButton" action="/admin/signup">
<span class='error-message'></span>
<div class='labelColumn'>
    <div>
      <label>Введите Ваше имя администратора:</label>
    </div>
    <div>
      <input name="name" type="text" class='input' placeholder="Имя" required>
    </div>
</div>
<div class='labelColumn'>
  <div>
    <label for=class="loginInput">Введите Ваш email:</label>
  </div>
  <div>
    <input name="email" type="email" class='input' placeholder="Email" required>
  </div>
</div>
  <div>
    <label for="password" class="passInput">Введите Ваш пароль:</label>
    <input id="password" name="password" minlength="6" type="password" class='input' placeholder="Пароль" required>
  </div>
  <div>
    <label for="password-repeat" class="passInput">Повторите пароль</label>
    <input name="password-repeat" minlength="6" type="password" onblur="check()" class='input' id="password-repeat" required>
  </div>
  <span id='message'></span>
  <div>
    <label for="pass-input" class="passInput">Введите Ваш secret:</label>
    <input id="pass-input" name="secret-word" type="password" class='input' placeholder="secret word" required>
  </div>
  <div>
    <button type="submit" class='barSearch'>РЕГИСТРАЦИЯ</button>
  </div>
</form>
