<form method="post" action="/admin/signup">
   <label for="login-input" class="loginInput">Введите Ваше имя администратора:</label>
   <input id="login-input" name="name" type="text" placeholder="Имя">

   <label for="login-input" class="loginInput">Введите Ваш email:</label>
   <input id="login-input" name="email" type="email" placeholder="Email">

   <label for="pass-input" class="passInput">Введите Ваш пароль:</label>
   <input id="pass-input" name="password" type="password" placeholder="Пароль">

    <label for="pass-input" class="passInput">Введите Ваш secret:</label>
   <input id="pass-input" name="secret" type="password" placeholder="secret">

   <input type="submit" value="Signup">
</form>
