<script defer src="/js/registration.js"></script>

<form method="POST" id="signupButton" action="/admin/signup">
<span class='error-message'></span>
  <div>
    <label>Введите Ваше имя администратора:</label>
    <input name="name" type="text" placeholder="Имя" required>
  </div>
  <div>
    <label for=class="loginInput">Введите Ваш email:</label>
    <input name="email" type="email" placeholder="Email" required>
  </div>
  <div>
    <label for="password" class="passInput">Введите Ваш пароль:</label>
    <input id="password" name="password" minlength="6" type="password" placeholder="Пароль" required>
  </div>
  <div>
    <label for="password-repeat" class="passInput">Повторите пароль</label>
    <input name="password-repeat" minlength="6" type="password" onblur="check()" id="password-repeat" required>
  </div>
  <span id='message'></span>
  <div>
    <label for="pass-input" class="passInput">Введите Ваш secret:</label>
    <input id="pass-input" name="secret-word" type="password" placeholder="secret word" required>
  </div>
  <div>
    <button type="submit">Зарегистрироваться</button>
  </div>
</form>
