body {
  margin: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  min-height: 100vh
}

#body {
  display:flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-items: center;
 }

.main {
  margin-left: 100px;
}

.mvp {
  width: 401px;
  height: 268px;
  left: 168px;
  top: 157px;
  font-family: RF Rostin;
  font-style: normal;
  font-size: 60px;
  line-height: 112%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #4520AB;
  justify-content: center;
  align-items: center;
  text-align: justify;
  letter-spacing: 1px;
}
.span {
  color:#FFBC5B;
  font-family: RF Rostin;
}
.div {
  display: flex;
  flex-direction: row;
}
.top {
  display: flex;
  justify-content: flex-start;
}
#top{
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  font-family: RF Rostin;
  justify-content: flex-end;
}
.product {
  display: flex;
  height: 114px;
  font-family: RF Rostin;
  font-style: normal;
  text-align: justify;
  font-size: 20px;
  line-height: 188%;
  justify-content: center;
  align-items: center;
  letter-spacing: -0.02em;
  color: #4520AB;
  background: #ECECEC;
  border-radius: 17px;
  margin: 50px 0px 60px 0px;
  padding: 30px 30px 30px 60px;
  letter-spacing: 2px;
}

.btnmvp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 247px;
  height: 51px;
  left: 172px;
  top: 463px;
  background: #FFBC5B;
  border-radius: 30px;
  border: none;
  color: #4520AB;
  font-family: RF Rostin;
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  margin-left: 0px;
  font-family: RF Rostin;
  font-style: normal;
  text-decoration: none;
}

.footer {
  display: flex;
  width: 100%;
  height: 90px;
  background-color: #4520ab;
  font-family: RF Rostin;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  color: #66eefb;;
  /* position: absolute */
  margin-top: auto;
  bottom: 0px;
  mar
}

.apply {
  font-family: RF Rostin;
  font-style: normal;
  font-size: 46px;
  line-height: 200%;
  margin-bottom: 20px;
  margin-top: 50px;
  color: #4520AB;
  letter-spacing: 2px;
}
.circle {
  display: flex;
  left: 15%;
  right: 15%;
  top: 15%;
  bottom: 15%;
  background: #FFBC5B;
  font-size: 26px;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  color: #4520ab;
  font-family: RF Rostin;
  justify-content: center;
  align-items: center; 
  text-align: center;
  font-weight: bold;
}

.arrow {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #4520ab;
  font-family: RF Rostin;
  margin-top: 40px;
  margin-right: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  color: #4520AB;
  font-family: RF Rostin;
}

.login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: RF Rostin;
  background-color: #4520AB;
}

#log {
  margin-right: 10px;
  color: #66eefb;
  font-family: RF Rostin;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
}
#sign {
  color: #66eefb;
  font-family: RF Rostin;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none
}

#logout, #mainAdmin, #adminName {
  color: #66eefb;
  font-family: RF Rostin;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  margin-left: 20px;
}

#logout:hover, #mainAdmin:hover {
  color: #FFBC5B;
}

/* #mainAdmin {
  display: flex;
  background: #66eefb;
  box-shadow: 0px 7px 29px #4520AB;
  border-radius: 30px;
  color: #4520AB;
  font-family: RF Rostin;
  width: 180px;
  height: 51px;
  left: 172px;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 18px;
} */

.top {
  font-family: RF Rostin;
  display: flex;
  flex-direction: row;
  color: #4520AB;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text {
  font-family: RF Rostin;
  font-style: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #4520AB;
  justify-content: center;
  align-items: center;
  text-align: justify;
  letter-spacing: 1px;
  margin-top: 10px;
}

label {
  width: 224px;
  height: 27px;
  left: 174px;
  font-family: RF Rostin;
  font-style: normal;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.04em;
  color: #4520AB;
  letter-spacing: 1px;
}

.bottom {
  display: flex;
  flex-direction: row;
  color: #4520AB;
  margin-top: 70px;
  font-family: RF Rostin;
  margin-bottom: 100px;
}

.sendForm {
  width: 247px;
  height: 51px;
  left: 172px;
  background: #FFBC5B;
  box-shadow: 0px 7px 29px rgba(255, 188, 91, 0.37);
  border-radius: 30px;
  color: #4520AB;
  font-family: RF Rostin;
  border: none;
  font-size: 16px;
}
.bottomtext {
  margin-left: 20px;
}

/* #link {
  
  
} */

.navbar {
  display: flex;
  background-color: #4520AB;
  color: #66eefb;
  height: 100px;
  padding: 7px 7px 7px 7px ;
  font-family: RF Rostin;
}

.elbrus {
  display: flex;
  background-color: #66eefb;
  color: #4520AB;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-family: RF Rostin;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 2px;
  
}
a {
  text-decoration: none;
}
.wrapper {
  display: flex;
  flex-direction: row;
  font-family: RF Rostin;
  font-style: normal;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.coding {
  display: flex;
  margin-left: 15px;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-family: RF Rostin;
  font-style: normal;
  font-weight: bold;
  
  letter-spacing: 1px;
}

.one {
  margin: 20px;
}

.input, .validate {
  font-family: RF Rostin;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.03em;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #4520AB;
  margin-top: 30px;
  height: 30px;
  outline: none;
  margin-right: 50px;
  width: 350px;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

::-webkit-input-placeholder {color:#4e349685}


.inputdecription {
  width: 760px;
  color: #4520AB 50%;
  height: 24px;
  left: 178px;
  font-family: RF Rostin;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.03em;
  margin-right: 20px;
  border: none;
  border-bottom: 1px solid #4520AB;
  margin: 30px 0 30px 0px;
  height: 30px;
  outline: none;
  
}

.highlight {
  overflow: hidden;
}

.tr {
  overflow: hidden;
  border-collapse: collapse;
  background-color: #ffebce;
  color: #4e350e;
  font-size: 20px;
}

.tr:hover {
  box-shadow: 0px 0px 3px 3px #ffd597;
  background-color: #fff8ef;
  cursor: pointer;
  color: #81602b;
}

.td {
  height: 50px;
  max-width: 460px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #ddac5e;
  text-align: center
}

#description {
  min-width: 460px;
}

.td:hover {
  border: 1px solid #fffdf4;
  background-color: #ffffff;
  color: #a58146;
}

.flex-cont {
  /* border: 5px solid #4520AB; */
  display:flex;
  flex-direction:column;

  margin-top: 30px;
}
/* .flex-elem {
  border: 5px solid #4520AB;
} */

#project {
  margin-top: 70px;
}

.searchBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline
}

.barSearch, .editBtn {
  width: 177px;
  height: 51px;
  left: 172px;
  top: 463px;
  background: #FFBC5B;
  box-shadow: 0px 7px 29px rgba(221, 131, 14, 0.74);
  border-radius: 30px;
  color: #4520AB;
  font-family: RF Rostin;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  text-align: center;
  outline: none;
  border: none;
  margin-right: 10px;
  margin-bottom: 30px;
}

#select {
  width: 177px;
  height: 51px;
  left: 172px;
  top: 463px;
  background: #FFBC5B;
  box-shadow: 0px 7px 29px rgba(221, 131, 14, 0.74);
  border-radius: 30px;
  color: #4520AB;
  font-family: RF Rostin;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 30px;

  padding-left: 20px;
  outline: none;
  border: none;
  margin-right: 10px;
  margin-bottom: 30px;
}

.barSearch:hover, .editBtn:hover, #select:hover {
  cursor: pointer;
  animation: pulse 1s;
  background: #ffc471;
  color: #6541c7;
}

.loop {
  width: 51px;
  height: 51px;
  left: 172px;
  top: 463px;
  background: #6a43d3;
  box-shadow: 0px 7px 29px rgba(30, 10, 145, 0.712);
  border-radius: 30px;
  color: #4520AB;
  text-align: justify;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  
  outline: none;
  border: none;
  margin-right: 10px;
  margin-bottom: 30px;
}

.loop:hover, .editFormBtn:hover{
  cursor: pointer;
  animation: pulse 1s;
  background: #8f6af5;
}

.zayavki {
  margin-right: 30px;
  color: #4520AB;
  text-align: justify;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

.adminName {
  margin-right: 20px;
}

.loginPlease {
  color: #4520AB;
}

.test1 {
  display: flex;
}
.editHidden {
  visibility: hidden;
}
.editVisible {
  visibility: visible;
}
.reqInfo {
  color: #4520AB;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 7px;
}

.reqInfo:hover, .zayavki:hover, #adminName:hover, .card-title:hover, p:hover {
  cursor: default;
}

.Eji {
  margin-left: 30px;
}
#reqCard {
  background-color: #ffe6c3;
  border: 7px solid #4520AB;
  border-radius: 7px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 20px;
  color: #4520AB;
  font-size: 20px;
  box-shadow: 0px 7px 29px rgba(59, 14, 221, 0.61);
}

#reqCard:hover {
  background-color: #fff0d9;
  border: 7px solid #6f4eca;
  color: #6f4eca;
  box-shadow: 0px 7px 29px rgba(145, 120, 10, 0.712);
}

.card-title {
  color: #c57e1a;
  font-size: 24px;
  font-weight: bold;
}

.editFormBtn {
  width: 151px;
  height: 51px;
  left: 172px;
  top: 463px;
  background: #6a43d3;
  box-shadow: 0px 7px 29px rgba(30, 10, 145, 0.712);
  font-family: RF Rostin;
  font-size: 20px;
  border-radius: 30px;
  color: #66eefb;;
  margin-left: 20px;

  outline: none;
  border: none;
  margin-right: 10px;
  margin-bottom: 30px;
}

.login-container {
  margin-bottom: 50px;
}

.link {
  width: 300px;
  color: #4520AB 50%;
  height: 24px;
  left: 178px;
  font-family: RF Rostin;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.03em;
  margin-right: 20px;
  border: none;
  border-bottom: 1px solid #4520AB;
  margin: 10px 20px;
  margin-top: 30px;
  height: 30px;
  outline: none;
  width: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

.label {
  width: 180px;
  height: 50px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  display: block;
  font: 14px/50px Tahoma;
  transition: all 0.18s ease-in-out;
  
}

.label:hover {
  color: white;
  background: #333;
}

.btnfile {
  display: flex;
  width: 180px;
  height: 51px;
  left: 172px;
  background: #E1E1E1;
  border-radius: 30px;
  color: #4520AB;
  font-family: RF Rostin;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  font-size: 16px;
 
  text-align: center;
  outline: none;
  text-decoration: none;
}


.example-2 .btn-tertiary{
  color: #4520AB;
  display:block;
  border-radius: 30px;
  background: #E1E1E1;
  width: 180px;
  height: 51px;
  left: 172px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-family: RF Rostin;
}

.example-2 .input-file{
  opacity:0;overflow:hidden;position:absolute;z-index:-1
}
.example-2 .input-file + .js-labelFile{
  overflow:hidden;
  /* text-overflow:ellipsis; */
  white-space:nowrap;
  cursor:pointer;
  padding: 6px 3px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* .example-2 .input-file + .js-labelFile .icon:before{content:"\f093"} */
/* .example-2 .input-file + .js-labelFile.has-file .icon:before{content:"\f00c";color:#5AAC7B} */
