#body {
  display:flex;
  position: relative;
  /* min-height: 100vh;
  min-width: 100vw; */
  justify-content: center;
  align-items: center;
}
.main {
  margin-left: 100px;
}
.mvp {
  width: 401px;
  height: 268px;
  left: 168px;
  top: 157px;
  font-family: RF Rostin;
  font-style: normal;
  /* font-weight: bold; */
  font-size: 60px;
  line-height: 112%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #4520AB;
  justify-content: center;
  align-items: center;
  text-align: justify;
  letter-spacing: 1px;
}
span {
  color:#FFBC5B;
  font-family: RF Rostin;
}
#top{
  margin-left: 0px;
  font-family: RF Rostin;
}
.product {
  display: flex;
  height: 114px;
  font-family: RF Rostin;
  font-style: normal;
  text-align: justify;
  font-size: 20px;
  line-height: 188%;
  justify-content: center;
  align-items: center;
  letter-spacing: -0.02em;
  color: #4520AB;
  background: #ECECEC;
  border-radius: 17px;
  margin: 50px 0px 60px 0px;
  padding: 30px 30px 30px 60px;
  letter-spacing: 2px;
}

.btnmvp {
  width: 247px;
  height: 51px;
  left: 172px;
  top: 463px;
  background: #FFBC5B;
  box-shadow: 0px 7px 29px rgba(255, 188, 91, 0.37);
  border-radius: 30px;
  color: #4520AB;
  font-family: RF Rostin;
  /* justify-content: center;
  align-items: center; */
  text-align: justify;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

.footer {
  width: 100%;
  height: 70px;
  background-color: #4520ab;
  font-family: RF Rostin;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 70px;
  color: #66eefb;;
  padding-top: 20px;
}

.circle {
  display: flex;
  left: 15%;
  right: 15%;
  top: 15%;
  bottom: 15%;
  background: #FFBC5B;
  font-size: 26px;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  color: #4520ab;
  font-family: RF Rostin;
  justify-content: center;
  align-items: center; 
  text-align: center;
  font-weight: bold;
}

.arrow {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #4520ab;
  font-family: RF Rostin;
  margin-top: 40px;
  margin-right: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  color: #4520AB;
  font-family: RF Rostin;
}

.btnfile {
  width: 180px;
  height: 51px;
  left: 172px;
  background: #E1E1E1;
  border-radius: 30px;
  color: #4520AB;
  font-family: RF Rostin;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
}
.login {
  display: flex;
  flex-direction: row;
  justify-content:end;
  align-items: flex-end;
  margin-left: 300px;
  font-family: RF Rostin;
  background-color: #4520AB;
}

#log {
  display: flex;
  background: #66eefb;
  box-shadow: 0px 7px 29px #4520AB;
  border-radius: 30px;
  color: #4520AB;
  width: 180px;
  height: 51px;
  left: 172px;
  font-family: RF Rostin;
  justify-content: center;
  align-items: center;
  text-align: justify;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 18px;
}
#sign {
  display: flex;
  background: #66eefb;
  box-shadow: 0px 7px 29px #4520AB;
  border-radius: 30px;
  color: #4520AB;
  font-family: RF Rostin;
  width: 180px;
  height: 51px;
  left: 172px;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 18px;
}

.top {
  font-family: RF Rostin;
  display: flex;
  flex-direction: row;
  color: #4520AB;
  margin-top: 20px;
justify-content: center;
  align-items: center;
  text-align: center;
}

.text {
  font-family: RF Rostin;
  font-style: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #4520AB;
  justify-content: center;
  align-items: center;
  text-align: justify;
  letter-spacing: 1px;
  margin-top: 10px;
}

.apply {
  /* position: absolute; */
  /* width: 435px;
  height: 100px; */
  /* left: 172px; */
  font-family: RF Rostin;
  font-style: normal;
  /* font-weight: bold; */
  font-size: 46px;
  line-height: 200%;
  margin-bottom: 20px;
  margin-top: 50px;
  color: #4520AB;
  letter-spacing: 2px;
}

label {
  /* position: absolute; */
  width: 224px;
  height: 27px;
  left: 174px;
  font-family: RF Rostin;
  font-style: normal;
  /* font-weight: bold; */
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.04em;
  color: #4520AB;
  letter-spacing: 1px;
}

.bottom {
  display: flex;
  flex-direction: row;
  color: #4520AB;
  margin-top: 70px;
  font-family: RF Rostin;
}

 .sendForm {
  /* position: absolute; */
  width: 247px;
  height: 51px;
  left: 172px;
  background: #FFBC5B;
  box-shadow: 0px 7px 29px rgba(255, 188, 91, 0.37);
  border-radius: 30px;
  color: #4520AB;
  font-weight: bold;
  font-family: RF Rostin;
}
.bottomtext {
  margin-left: 20px;
}

#link {
  margin-top: 30px;
}

.navbar {
  display: flex;
  background-color: #4520AB;
  color: #66eefb;
  height: 100px;
  padding: 7px 7px 7px 7px ;
  /* margin-left: 100px; */
  /* width: 900px; */
 /* justify-content: end;
  align-items: flex-end;
  text-align: justify; */
  font-family: RF Rostin;
}

.elbrus {
  display: flex;
  background-color: #66eefb;
  color: #4520AB;
  width: 90px;
  height: 90px;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-family: RF Rostin;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 450px;
  /* letter-spacing: -0.1em; */
  letter-spacing: 2px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  font-family: RF Rostin;
  font-style: normal;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin-left: 220px;
}

.coding {
  display: flex;
  margin-left: 15px;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-family: RF Rostin;
  font-style: normal;
  font-weight: bold;
  /* letter-spacing: -0.01em; */
  letter-spacing: 1px;
}

.one {
  margin: 20px;
}

.input {
  font-family: RF Rostin;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.03em;
  margin-right: 20px;
  border: none;
  border-bottom: 1px solid #4520AB;
  margin-top: 30px;
  height: 30px;
  outline: none;
  margin-right: 40px;
  width: 300px;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

input::-webkit-input-placeholder {
  color: #a6a96d 50%;
}
 

.inputdecription {
  width: 500px;
  color: #4520AB 50%;
  height: 24px;
  left: 178px;
  font-family: RF Rostin;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.03em;
  margin-right: 20px;
  border: none;
  border-bottom: 1px solid #4520AB;
  margin: 30px 0 30px 0px;
  height: 30px;
  outline: none;
 
}
 .link {
  width: 500px;
  color: #4520AB 50%;
  height: 24px;
  left: 178px;
  font-family: RF Rostin;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.03em;
  margin-right: 20px;
  border: none;
  border-bottom: 1px solid #4520AB;
  margin: 10px 20px;
  height: 30px;
  outline: none;
 }
.tr:hover {
  box-shadow: 0px 0px 3px 3px #4520AB;
}
.td {
  border: 2px solid black;
 }
.flex-cont {
  border: 5px solid #4520AB;
  display:flex;
  flex-direction:column;
}
.flex-elem {
  border: 5px solid #4520AB;
}

#project {
  margin-top: 70px;
}

.searchBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline
}

.barSearch {
  width: 177px;
  height: 51px;
  left: 172px;
  top: 463px;
  background: #FFBC5B;
  box-shadow: 0px 7px 29px rgba(255, 188, 91, 0.37);
  border-radius: 30px;
  color: #4520AB;
  font-family: RF Rostin;
  /* justify-content: center;
  align-items: center; */
  text-align: justify;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;


  outline: none;
  border: none;
  margin-right: 10px;
  margin-bottom: 30px;
}

.barSearch:hover{
  cursor: pointer;
  animation: pulse 1s;
  background: #ffc471;
  color: #6541c7;
}

.loop {
  width: 51px;
  height: 51px;
  left: 172px;
  top: 463px;
  background: #6a43d3;
  box-shadow: 0px 7px 29px #2c0d81(255, 188, 91, 0.37);
  border-radius: 30px;
  color: #4520AB;
  text-align: justify;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;

  outline: none;
  border: none;
  margin-right: 10px;
  margin-bottom: 30px;
}

.loop:hover{
  cursor: pointer;
  animation: pulse 1s;
  background: #8f6af5;
}

.zayavki {
  color: #4520AB;
  text-align: justify;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

